html, body {
  height: 100%;
  margin: 0;
}

.vh-100 {
  height: 100vh;
}

.registration-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-container .form-group {
  margin-bottom: 15px;
}

.registration-container .btn {
  width: 100%;
  margin-bottom: 10px; /* Add margin to buttons */
}

.registration-container .btn-link {
  display: block;
  text-align: center;
}
