<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput formControlName="role" readonly>
    </mat-form-field>
    <input type="file" (change)="onFileSelected($event)" />
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
