.favorites {
  padding: 20px;
}

.restaurant-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px; /* Reduce padding */
  margin-bottom: 8px; /* Reduce margin */
  text-align: center;
  max-width: 150px; /* Set a maximum width for the card */
}

.restaurant-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 100px; /* Set a maximum width for the image */
  max-height: 100px; /* Set a maximum height for the image */
}
