.footer {
  background-color: #d9d9d9 !important;
  border-radius: 8px;
  width: 100% !important;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-text {
  font-size: 0.9rem;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.footer-link:hover {
  color: #606060;
}

.footer-bottom {
  border-top: 1px solid #495057;
  padding-top: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 1.25rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .footer-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .footer-title {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.75rem;
  }

  .footer-link {
    font-size: 0.75rem;
  }
}
