<footer class="footer bg-white py-5 mt-0 pb-1 mt-5">
  <div class="container">
    <div class="row">
      <!-- Column 1 Start -->
      <div class="col-md-3 text-center">
        <h2 class="footer-title">Easy Food</h2>
        <p class="footer-logo"><img src="assets/frontend_assets/logo.png" width="50%" height="70px" alt="Sea Green Inn"></p>
      </div>
      <!-- Column 1 End -->

      <!-- Column 2 Start -->
      <div class="col-md-3">
        <h2 class="footer-title">About Us</h2>
        <p class="footer-text">Sea Green Inn Ltd is the First Five Star Eco-friendly Resort in Bangladesh, Started its commercial operation from 05 May 2024.</p>
      </div>
      <!-- Column 2 End -->

      <!-- Column 3 Start -->
      <div class="col-md-3">
        <h2 class="footer-title">Categories</h2>
        <ul class="footer-list">
          <li><a href="#" class="footer-link">View Menus</a></li>
          <li><a href="#" class="footer-link">Cart</a></li>
          <li><a href="#" class="footer-link">Contact</a></li>
        </ul>
      </div>
      <!-- Column 3 End -->

      <!-- Column 4 Start -->
      <div class="col-md-3">
        <h2 class="footer-title">Contact Us</h2>
        <p class="footer-text">Email: info&#64;seagreeninn.com</p>
        <p class="footer-text">Phone: +880 1864 218632</p>
      </div>
      <!-- Column 4 End -->
    </div>
    <div class="footer-bottom text-center mt-4">
      <p class="footer-text">&copy; 2024 Sea Green Inn Ltd. All rights reserved.</p>
    </div>
  </div>
</footer>
